<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times
                </button>
                <h4 class="modal-title text-danger" id="myModalLabel">
                    密码修改
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group ">
                        <!--由于label中自动的所字体加粗了，所以就需要设置字体为正常格式-->
                        <label for="email" class="col-md-2 control-label" style="font-weight: normal">
                            用户名
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="email" name="email"
                                   value="{{ model_form_obj.instance.email }}" disabled>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="form-group ">
                        <!--由于label中自动的所字体加粗了，所以就需要设置字体为正常格式-->
                        <label for="password1" class="col-md-2 control-label" style="font-weight: normal">
                            密码
                        </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password1" name="password1">
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="form-group ">
                        <!--由于label中自动的所字体加粗了，所以就需要设置字体为正常格式-->
                        <label for="password2" class="col-md-2 control-label" style="font-weight: normal">
                            密码（重复）
                        </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password2" name="password2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4 " style="margin-left: 150px;">
                    <div  style="display: none" id="error_msg" class="alert alert-danger alert-dismissable">
{#                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">#}
{#                            &times;#}
{#                        </button>#}

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="back_modify_passwd">返回</button>
                <button type="button" class="btn btn-danger" id="confirm_modify">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>